@import "../../../Mixins.scss";

.loading {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  height: 255.09px;

  @include mq(700) {
    top: -33px;
    height: 200px;
  }
}
