@import "../../../Mixins.scss";

.homeScreenshots {
  padding-block: 96px;
  max-width: 1684px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 32px;

  @include mq(999) {
    padding-block: 32px;
    flex-direction: column;
  }

  @include mq(700) {
    padding-block: 20px;
  }
}

.content {
  max-width: 522px;

  @include mq(999) {
    max-width: initial;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    color: #272d31;
    margin-top: 32px;

    @include mq(999) {
      margin-top: 16px;
    }

    @include mq(700) {
      font-size: 16px;
    }
  }
}

.title {
  padding-top: 96px;
  font-family: var(--sf-pro-rounded-bold);
  font-size: 48px;
  color: #272d31;

  @include mq(999) {
    font-size: 32px;
    padding-top: 0;
  }

  @include mq(700) {
    font-size: 24px;
  }

  span {
    color: #755cba;
  }
}

.buttons {
  margin-top: 32px;
  display: flex;
  gap: 32px;

  @include mq(999) {
    margin-top: 16px;
  }

  @include mq(700) {
    gap: 16px;
  }
}
