.form {
  display: flex;
  gap: 16px;
  width: 100%;
}

.title {
  font-family: var(--sf-pro-rounded-bold);
  font-size: 24px;
  color: #393939;
  text-align: center;
  margin-bottom: 20px;
}

.thankYou {
  font-family: var(--sf-pro-rounded-bold);
  font-size: 20px;
  line-height: 1.5;
  color: #393939;
  text-align: center;
}
